.paw {
  bottom: 0;
  right: 2.3rem;
  cursor: pointer;
  img {
    width: 12rem;
  }
}

.paw--small {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 9rem;
  right: 0;
  img {
    width: 6rem;
  }
}

@media (min-width: 320px) {
  .paw img {
    width: 7rem;
  }
}

@media (min-width: 768px) {
  .paw {
    right: 6rem;
    bottom: 0;
    top: inherit;
    img {
      width: 20rem;
    }
  }
}

@media (min-width: 1024px) {
  .paw {
    right: 20rem;
    bottom: 0;
    top: inherit;

    img {
      width: 16rem;
      transition: width 0.5s ease;
      &:hover {
        width: 16.3rem;
      }
    }
  }
  .paw--small {
    position: fixed;
    bottom: -4rem;
    right: 8rem;
    top: inherit;
    transition: bottom 0.5s ease;
    transform: none;
    cursor: pointer;
    &:hover {
      bottom: 0;
    }
    img {
      width: 12rem !important;
    }
  }
}
